@page
@model AboutModel
@{
    ViewData["Title"] = "Autor";
}
<h4>@ViewData["Title"]</h2>
    <p lang="pt">
       Estudante de Engenharia da Computação e desenvolvedor no <a href="https://suasvendas.com" target="_blank">SuasVendas.</a>
    </p>
    <h4 lang="pt">Contato</h3>
    <address>
        <strong>Email:</strong>   <a href="javascript: void();">rone_filho@hotmail.com</a><br />
    </address>
