@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div class="row">
        <div id="cookieConsent" class="alert alert-primary alert-dismissible fade show col-6" lang="pt">
            Esse site faz o uso de cookies, voce concorda?
            <button type="button" class="btn btn-outline-info ml-4" data-dismiss="alert" data-cookie-string="@cookieString">
                <span aria-hidden="true" lang="pt">Aceitar</span>
            </button>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}