<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRISPR.Anotations</title>

        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"  />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
    <div class="row">
        <div class="col text-center">
            <img src="/images/dna.svg" width="150px" alt="dna"/>
        </div>
    </div>

    <nav class="navbar navbar-expand-md navbar-light mb-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item"><a class="nav-link" lang="pt" asp-page="/Index">Início</a></li>
                <li class="nav-item"><a class="nav-link" lang="pt" asp-page="/Autor">Autor</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="idioma" data-toggle="dropdown">
                        <span><img src="/images/language.svg" width="22px"/></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="idioma">
                        <a class="dropdown-item" href="#" onclick="window.lang.change('pt'); return false;">Português</a>
                        <a class="dropdown-item" href="#" onclick="window.lang.change('en'); return false;">English</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
   


    <div class="container body-content">
        <partial name="_CookieConsentPartial" />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - CRISPR.Anotations</p>
        </footer>
    </div>

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script src="~/js/js.cookie.js"></script>
        <script src="~/js/jquery-lang.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
